
  body{
   
  }
    .login-form {
    width: 340px;
      margin: 50px auto;
      border: 2px black;
    }
    .login-form form {
      margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
       
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
    .salir{
        display: flex;
        justify-content: space-between; 
        margin-right: 20px;  
        color:white;
        
    }
    .tituloCentrado{
        display: flex;
        justify-content: center;
        color: white;
       
       
    }
    .etiquetaBlanca{
        color: white;
    }
    .paginacionCentrada{
        display: flex;
        justify-content: center;
    }

    * {
  margin: 0; padding: 0;
}
h1{
    color:white;
    text-align: center;
}


video {
 /* position: absolute;
  z-index: -1;
  
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);*/
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  
}
.imagenDeFondo{
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}
#container .table{
  color:white;
}
#container p{
  color:white;
}

